/LegacyAppConsumer/obj/Debug/netcoreapp3.1/LegacyAp.849358D5.Up2Date
/LegacyAppTests/obj/Debug/net8.0/LegacyAp.B6D462E1.Up2Date
/LegacyAppConsumer/bin/Debug/netcoreapp3.1/LegacyAppConsumer.exe
/LegacyAppTests/bin/Debug/net8.0/testhost.exe
